/* Importar la fuente Poppins de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

/* Establecer estilos globales */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Usar la fuente Poppins para todo el documento */
}

/* Estilos para la sección principal */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2) url('http://localhost/proyectomedicina/public/imageninicio/fondo4.jpg') no-repeat;  /* Imagen de fondo con opacidad */
    background-blend-mode: overlay; /* Mezclar el fondo con la imagen */
    background-position: center;
    background-size: cover;
}

/* Estilos para el contenedor del formulario */
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background-color: rgba(117, 24, 142, 0.8); /* Color de fondo con opacidad */
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    backdrop-filter: blur(15px); /* Aplicar desenfoque al fondo */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el título del formulario */
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

/* Estilos para los campos de entrada */
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    top: 0%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

/* Efecto al enfocar o validar los campos de entrada */
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline:none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

/* Estilos para el mensaje de "Olvidó su contraseña" */
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;

}

.forget label input{
    margin-right: 3px;
}

.forget label a{
    color: #caec09;
    text-decoration: underline;
}

.forget label a:hover{
    text-decoration: underline;
}

/* Estilos para el botón de iniciar sesión */
button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

button a{
    color: black;
    text-decoration: none;
}

/* Estilos para la sección de registro y enlaces */
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;

}

.register p a{
    text-decoration: underline;
    color: #caec09;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

.register a{
    text-decoration: underline;
    color: #05def2;
    font-weight: 600;
}

/* Estilos para el mensaje de bloqueo después de varios intentos */
#blockMessage {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
}
